# Use this with python-dotenv or any runner that reads .env files
GOOGLE_GENAI_USE_VERTEXAI=False
GOOGLE_API_KEY= # Replace with your actual Google API key, e.g., vAyvnkhNaiqmqfTLgEdhSD7PJgC-xENaC-J0xw8
HF_TOKEN= # Replace with your actual Hugging Face token, e.g., hf_eqvmAAIzaSyC4i06q6ekDlwntEsRFnKSTq
REQUESTS_PER_MINUTE=3
MAX_IN_FLIGHT_REQUESTS=3